<div class="row text-center">
    <span >Te sugerimos comprar estos moldes para tu diseño</span>
</div>

<div *ngIf="spinner" class="spinner-border text-dark" role="status"></div>

<div *ngIf="!spinner" class="row">
    <div class="col globalCard" xstyle="padding: 23px 100px 0 100p;">
        <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="example-viewport">
            <mat-card *cdkVirtualFor="let item of items" class="contentCard" >
                <mat-card-content >
                    <div class="row ">
                        <div class="col-1" style="width: auto;">
                            <img style="height: 237px;width: 161px;" src="../../../../../../assets/images/modelE.png.png">
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="col text-end">
                                            <span style="font-size: 20px;">
                                                {{item.nombre}}
                                            </span>
                                        </div>
                                        <div class="col text-end">
                                            <span style="font-weight: bold;">
                                                ${{item.precio}}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="row"> 
                                            <div class="col-4"><b> Ancho Tela: </b> </div>
                                            <div class="col">{{item.anchoTela}}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <b> Consumo Total: </b>
                                            </div>
                                            <div class="col">
                                                {{item.consumoTotal}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <b>Tipo Produccion:</b>
                                            </div>
                                            <div class="col">
                                                {{item.tipoProduccion}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <b>Tipo Cascada:</b>
                                            </div>
                                            <div class="col">
                                                {{item.tipoCascada}}
                                            </div>
                                                 
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <b>Caracteristicas: </b>
                                            </div>
                                            <div class="col">
                                                {{(item.caracteristicas ? item.caracteristicas : '')}}
                                            </div>
                                               
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <a style="cursor: pointer; color: #1F619F;" href="https://www.google.com.co/"  target="_blank">
                                        Descargar ficha tecnica
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3" style="border: 1px solid;margin-left:11px;width: 162px;">
                            <div class="row">
                                <div class="col">
                                    <div >
                                        <button (click)="contarMas()" mat-icon-button aria-label="Example icon-button with a heart icon">
                                          <span style="color:#37833B;">+</span>
                                        </button>
                                      </div>
                                </div>
                                <div class="col mt-2">
                                    {{contador}}
                                </div>
                                <div class="col">
                                    <div>
                                        <button (click)="contarMenos()" mat-icon-button aria-label="Example icon-button with a heart icon">
                                          <span style="color:#C8372D;border-radius: 50%;">-</span>
                                        </button>
                                      </div>
                                </div>
                            </div>
                        </div>
                        <div (click)="seleccionarItem(item)" [ngClass]="{'seleccionado': seleccion === 'Seleccionar y añadir al carrito', 'seleccion':seleccion === 'No seleccionar'}" class="col text-center" style="border: 1px solid">
                            <span class="pt-2" style="font-size: 20px;font-weight: bold;"> 
                                {{seleccion}}
                            </span>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </cdk-virtual-scroll-viewport>
    </div>
   
</div>

<div *ngIf="!spinner" class="row">
    <div class="col text-center">
        <button (click)="cancelar()" type="submit" class="botonCancelar" mat-flat-button>Cancelar</button>
    </div>
    <div class="col text-center">
        <button (click)="continuar()" type="submit" class="botonContinuar" mat-flat-button>Continuar</button>
    </div>
</div>


